<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<form method="post" th:action="@{/events/edit}">
	<div class="form-group">
		<label for="eventInput">Name
			<input id="eventInput" type="text" th:value="${event.name}" name="eventName" class="form-control">
		</label>
	</div>
	<div class="form-group">
		<label for="descriptionInput">Description
			<input id="descriptionInput" type="text" th:value="${event.description}" name="eventDescription"
			       class="form-control">
		</label>
	</div>
	<input type="hidden" th:value="${event.id}" name="eventId"/>
	<div class="form-group">
		<label for="submit">
			<input type="submit" id="submit" value="Edit" class="form-control btn btn-success">
		</label>
	</div>

</form>

</body>
</html>

